@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1,2s; 
}

@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo{
    font-size: 30px;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;

}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transform: .5s;

}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;

}

.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
 }

 .heading span{
    color: var(--main-color);
 }

 .body-services{

    background: #1f242d;
    color: #ededed;
 }

.service{
    padding-top: 100px; 
    
    } 
.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
    
}
.heading span{
    color: #7cf03d;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
    
}

.services-container .services-box{
    padding: 3rem 2.5rem;
    background: #252b35;
    border: .2rem solid #252b35;
    border-radius: 1rem;
    transition: .5s;
}
.services-container .services-box :hover{
    border-color: var(#7cf03d);
    transform: scale(1.02);
}

.services-container .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-container .icon i{
    font-size: 4.5rem
}

.services-container .icon a{
    display: inline-flex;
    background: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.services-container .icon a i {
    font-size: 3rem;
    color: #252b35;
    transform: rotate(225deg);
}

.services-box h3{
    font-size: 3rem;
    margin: .5rem 0 2rem;
}
.services-box p{
    font-size: 1.6rem;
}
